.portfolioImg {
    padding: 1vmin;
    max-width: 35vmin;
    width: 35vmin;
}

@media (max-width: 1200px) {
    h2 {
        text-align: center;
    }
    .portfolioImg {
        padding: 3vmin;
        max-width: 25vmin;
        width: 25vmin;
    }
}